@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');


div.qt-div {
    text-align: center;
    height: 400px;
}

section.qt {
    background: rgb(219, 219, 219);
    height: 100%;
}

/*aside::before {
    position: absolute;
    content: "\201C";
    background: green;
    left: 0;
    font-size: 5em;
    line-height: 0;
}

aside::after {
    position: absolute;
    content: "\201E";
    background: green;
    right: 0;
    font-size: 5em;
    line-height: 0;
    bottom: -33px;
}*/

p.msg, aside::before, aside::after {
    font-family: "Sedan", serif;
    font-weight: 200;
    font-style: italic;
}

p.msg {
    font-size: 20px;
}

h2 {
    margin: 0 0 40px 0;
}

/*aside::before {
    position: absolute;
    content: "\201C";
    font-weight: bold;
    font-size: 5em;
}

aside::after {
    position: absolute;
    content: "\201E";
    font-weight: bold;
    font-size: 5em;
}

aside {
    background: green;
}

.qt {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 450px;
}



p {
    font-size: 25px;
}

h2 {
    justify-self: center;
}*/