@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

div.qt-div {
    display: flex;
    width: auto;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(82, 85, 247, 0.233);
    justify-content: space-around;
    align-items: center;
}

section.qt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(82, 85, 247, 0.233); */
}

section.qt h2 {
    align-self: center;
}

hr {
    width: 10%;
    border: 0.5px solid rgb(235, 203, 189);
}

div.qt-div {
    text-align: center;
    height: 400px;
}

section.qt {
    background: rgba(97, 100, 255, 0.233);
    height: 100%;
}

p.msg {
    font-family: "Sedan", serif;
    font-weight: 100;
    font-style: italic;
}

p.msg {
    font-size: 20px;
}

h2 {
    margin: 0 0 40px 0;
}

@media (max-width: 1000px) {
    div.qt-div {
        flex-direction: column;
        height: auto;
    }

    [maxWidth='true'] {
        margin: 20px 0 60px 0;
    }
}