@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --bg-background-global: linear-gradient(#3b82f6, #581c87);
    --ft-poppins-regular: 'Poppins', sans-serif;
    --card-shadow: 5px 14px 20px 5px rgb(0 0 0 / 30%);
    --photo-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    --ft-color: #FFF;
}

a {
    color: #FFF;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.App-pt {
    display: grid;
    grid-template-rows: 100px auto auto;
    background: var(--bg-background-global); 
    font-family: var(--ft-poppins-regular);
    color: var(--ft-color);
    min-width: 390px;
    overflow-x: visible;
}


/* Adiciona uma borda curva ao scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Largura do scrollbar */
  }
  
  /* Personaliza o fundo do scrollbar */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo */
  }
  
  /* Personaliza a barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
    border-radius: 10px; /* Arredonda as bordas */
  }
  
  /* Personaliza a barra de rolagem quando passa o mouse por cima */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
  }

  

/* Adiciona uma animação suave ao scroll */
html {
    scroll-behavior: smooth;
  }

/* Personaliza o scroll horizontal */
::-webkit-scrollbar {
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  